<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gemini LLM Application</title>
</head>
<body>
    <div class="container">
        <h1>Gemini LLM Application</h1>
        <label for="input">Input:</label>
        <input type="text" id="input" />
        <button onclick="askQuestion()">Ask the Questions</button>

        <div id="response-container">
            <h2>The Response is</h2>
            <div id="response"></div>
        </div>

        <h2>The chat history is</h2>
        <div id="chat-history"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
